{% extends 'base.html' %}

{% block content %}	

{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}	
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body ">
                <h1 class="text-center">Registrarse</h1>
                {% csrf_token %}
               <div class="mb-3">
                <label for="username">Usuario</label>
                <input type="text" name="username" class="form-control" placeholder="Usuario">
                
               </div>
               <div class="mb-3">
                <label for="password1">Contraseña</label>
                <input type="password" name="password1" class="form-control" placeholder="Contraseña">
               </div>
               <div class="mb-3">
                <label for="password2">Repetir contraseña</label>
                <input type="password" name="password2" class="form-control" placeholder="Contraseña">
               </div>
                <button type="submit" class="btn btn-primary">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
